@media (max-width: 1508px) {
    /* Header elements responsive */
    .lang-div > p, .btn-contact {
        font-size: 16px;
        line-height: 20px;
    }
    .btn-contact, .lang-div {
        width: 140px;
    }
    .btn-contact {
        padding: 10px 10px;
    }
    /* Second Section elements styles */
    .text-wraper02 {
        flex-direction: column;
        row-gap: 10px;
    }
    /* Footer elements styles */
    .head-div {
        flex-direction: column;
        row-gap: 30px;
    }
    .columns-wraper {
        row-gap: 25px;
        max-width: 580.5px;
        width: 95%;
        flex-wrap: wrap;
    }
    .column {
        width: 49%;
    }
    .footer-flex {
        align-items: center;
        gap: 30px;
    }
    .column:nth-child(4) {
        display: none;
    }
}
@media (max-width: 1166px) {
    /* Header elements responsive */
    .burger-wraper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation {
        display: none;
    }
    .header-wraper {
        width: 80%;
    }
    .container-wraper {
        width: 30%;
    }
}
@media (max-width: 887px) {
    /* Header elements responsive */
    .container-wraper {
        display: none;
    }
    .header-wraper > img {
        width: 200px;
    }
    /* First Section elements styles */
    .section-wraper01 {
        padding-left: 20px;
        padding-top: 100px;
    }
      /* Second Section elements styles */
      .text-wraper02 {
        width: 100%;
        margin: 0 auto;
      }
      .nav02 {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
      }
      .nav-ul02 {
        row-gap: 20px;
      }
      .block {
        height: 350px;
      }
      /* Footer elements styles */
      .subscribe-block {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
      }
      .columns-wraper {
        flex-direction: column;
        width: 270px;
      }
      .column:nth-child(1), .column:nth-child(2), .column:nth-child(3) {
        width: 100%;
      }

}
@media (max-width: 623px) {
    /* First Section elements styles */
    .section-wraper01 {
        height: auto;
        padding-bottom: 25px;
    }
    .content-wraper01 {
        max-width: 500px;
        width: 95%;
    }
    .text-wraper01 > h2 {
        line-height: 50px;
        font-size: 45px;
    }
    .btn-services, .btn-projects {
        width: 45%;
        font-size: 14px;
        line-height: 30px;
        padding: 5px;
    }
    .buttons-wraper01 {
        width: 100%;
    }
    /* Second section elements styles */
    .text-wraper02 > h2 {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 23px;
        text-align: center;
    }
    .nav02 {
        width: 250px;
    }
    .photos-block {
        flex-direction: column;
        row-gap: 25px;
        margin: 0 auto;
    }
    .block {
        height: 250px;
        width: 100%;
      }
}
@media (max-width: 410px) {
    /* Header elements responsive */
    .header-wraper {
        width: 90%;
    }
}