/* Header elements styles */
header, footer {
    background-color: rgba(25, 26, 25, 1);
}
.header-wraper {
    max-width: 1503px;
    width: 95%;
    height: auto;
    padding-top: 44px;
    padding-bottom: 44px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-ul {
    width: 495px;
    display: flex;
    justify-content: space-between;
}
.nav-li {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.nav-a {
    color: #fff;
    position: relative
}
.nav-a::after {
    content: "";
    background-color: rgba(255, 116, 32, 1);
    display: flex;
    height: 3px;
    width: 0%;
    position: absolute;
    left:0;
    bottom:-19px;
    transition: all 1s;
}
.nav-a:hover { 
    color: rgba(255, 116, 32, 1);
}
span {
    color: rgba(255, 116, 32, 1)
}
.nav-a:hover::after {
    width: 100%;
}
.container-wraper {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.lang-div {
    width: 165px;
    display: flex;
    gap: 1.5px;
    align-items: center;
}
.lang-div > p {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
}
.fa-chevron-down {
    color: rgba(255, 255, 255, 1);
}
.btn-contact, .btn-services, .btn-projects {
    width: 194px;
    background-color: rgba(255, 116, 32, 1);
    border-radius: 15px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
    padding: 15px 30px;
}
.burger-wraper {
    display: none;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 116, 32, 1);
    border-radius: 50%;
}
.fa-bars {
    color: rgba(255, 255, 255, 1);
}
/* First Section elements styles */
.section-wraper01 {
    background-image: url("../images/bg-photo.jpg");
    height: 778px;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 102px;
    padding-top: 154px;
}
.content-wraper01 {
    display: flex;
    height: auto;
    gap: 75px;
    width: 587px;
    flex-wrap: wrap;
}
.text-wraper01 {
    display: flex;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
}
.text-wraper01 > h2 {
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: #fff;
    width: 79%;
}
.text-wraper01 > p {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    width: 100%;
}
.buttons-wraper01 {
    display: flex;
    gap: 24px;
}
.btn-services {
    width: 246px;
}
.btn-services > .fa-circle-arrow-right {
    color: rgba(255, 116, 32, 1);
    background-color: #fff;
    border-radius: 50%;
}
.btn-projects {
    width: 208px;
    color: rgba(25, 26, 25, 1);
    background-color: #fff;
}

/* Second Section elements styles */
.section02 {
    background-color: rgba(255, 116, 32, 1);
}
.section-wraper02 {
    height: auto;
    max-width: 1494px;
    padding-top: 54px;
    padding-bottom: 65px;
    width: 90%;
}
.flex02 {
    display: flex;
    gap: 49px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.text-wraper02 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.text-wraper02 > h2 {
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: black;
}
.nav-ul02 {
    width: 770px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-a02 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    position: relative;
}
.nav-a02::after {
    content: "";
    background-color: rgba(25, 26, 25, 1);
    height: 3px;
    width: 0%;
    display: flex;
    position: absolute;
    left:0;
    bottom:-14px;
    transition: all 1s;
}
.nav-a02:hover { 
    color: rgba(25, 26, 25, 1);
}
.nav-a02:hover::after {
    width: 100%;
}
.main-wraper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    justify-content: end;
}
.photos-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.block {
    display: flex;
    height: 613px;
    width: 32%;
    background-image: url("../images/photo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
.gradient-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 2;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.08%, #000000 100%);
    position: absolute;
}
.block:nth-child(2) {
    background-image: url("../images/photo2.jpg");
}
.block:nth-child(3) {
    background-image: url("../images/photo3.jpg");
}
.titles {
    text-align: center;
    display: flex;
    gap: 3px;
    flex-direction: column;
    z-index: 5;
    margin-bottom: 22px;
}
.titles > p {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
}
.titles > p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
}
.btn-explore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 251px;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px; 
    color: rgba(25, 26, 25, 1);
}
/* Third Section elements styles */
.section03 {
    background-color: rgba(25, 26, 25, 1);
}
.section-wraper03 {
    max-width: 1067px;
    width: 95%;
    height: auto;
    padding-top: 52px;
    padding-bottom: 53px;
}
.flex03 {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center ;
}
.text-wraper03 {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
}
.author {
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.section-wraper03 > h4 {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color:rgba(255, 116, 32, 1)
}
.text-wraper03 > p, .author > p {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}
.author > p  {
    font-weight: 500;
}
.author > p:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
}
/* Fourth section elements styles */
.section-wraper04 {
    height: auto;
    background-color: rgba(25, 26, 25, 1);
}
.main-block-wraper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 121px;
    flex-wrap: wrap;
    justify-content: center;
}
.main-block-wraper > h3 {
    margin-top: 61px;
    font-family:'Poppins';
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.forms-wraper {
    max-width: 1503px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.forms-wraper > div {
    background-color: rgba(255, 116, 32, 1);
    border-radius: 15px;
}
.request-form-wraper {
    width: 64%;
}
.d-flex {
    display: flex;
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 45px;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-form-wraper {
    width: 33%;
    gap: 45px; 
    display: flex;
    flex-wrap: wrap;
}
.request-form-wraper > h5, .contact-form-wraper > h5 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    width: 90%;
}
.request-form-wraper > p, .contact-details > p {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 18px;
    margin-top: 24px;
    width: 90%;
}
.request-form, .contact-wraper {
    width: 90%;
    display: flex;
    gap: 18px;
    flex-wrap:  wrap;
}
.contact-wraper {
    gap: 45px;
}
.contact-details {
    display: flex;
    row-gap: 24px;
    flex-direction: column;
}
.contact-div > h5 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 4px;
}
.contact-div > p, .contact-li {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.contact-li > a {
    color: rgba(255, 255, 255, 1);
}
.btn-submit, .btn-contact-us {
    background-color: rgba(25, 26, 25, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    width: 100%;
    border-radius: 15px;
    height: 76px;
}
.request-form > input, .input-service {
    width: 48%;
    height: 76px;
}
.request-form > input, .area-details, .input-service {
    border-radius: 15px;
    padding-left: 65.25px;
    border: none;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: black;
    background-color: rgba(255, 255, 255, 1);
}
.request-form > input::placeholder, .area-details::placeholder {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: rgba(25, 26, 25, 0.5);
}
.request-form > input:focus, .area-details:focus, .input-service:focus {
    outline: none;
}
.area-details {
    resize: none;
    height: 148px;
    width: 100%;
    padding-top: 23px;
}
.input-service {
    color: rgba(25, 26, 25, 0.5);
}
.input-service  {
    appearance: none;
    background-image: url('../images/vector.svg');
    background-repeat: no-repeat;
    background-position: 85%;
}
/* Footer elements styles */
.footer-wraper {
    max-width: 1495px;
    width: 86%;
    height: auto;
    padding-top: 53px;
    padding-bottom: 68px;
}
.footer-flex {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.head-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.columns-wraper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 29px;
    margin-bottom: 15px;
    height: auto;
}
.subscribe-block {
    width: 580.5px;
    display: flex;
    justify-content: space-between;
}
.email-block {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 271px;
    display: flex;
    justify-content: space-between;
}
.email-block > input {
    border: none;
    background-color: transparent;
    width: 95%;
    font-family: 'Poppins'; 
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: rgba(255, 255, 255, 1)
}
.email-block > input::placeholder {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.email-block > input:focus {
    outline: none;
}
.email-block > button {
    background-color: transparent;
}
.fa-arrow-right {
    color: rgba(255, 255, 255, 1);
}
.subscribe-block > h4 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}
.column > h5 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
}
.column > p, .contact-li-col, .nav-a-col {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.contact-li-col > a {
    color: rgba(255, 255, 255, 1);
}
.nav-ul-col {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
}
.column:nth-child(1) {
    width: 516px;
}
.column:nth-child(2) {
    width: 306px;
}
.column:nth-child(3) {
    width: 255px;
}
.column:nth-child(4) {
    width: 75px;
}
.social-div {
    display: flex;
    width: 206px;
    justify-content: space-between;
    align-items: center;
}


